

<mat-card  >
  <h1 class="mt20 ml20">All Categories</h1>
  
  <mat-card-header>
    
  </mat-card-header>
  <mat-card-content *ngFor="let c of categories">
   
    <div mat-line class="mb20"> <mat-icon mat-list-icon >category</mat-icon> Title -:   {{ c.title }}</div>
    <div mat-line class="mb20">Discription -: {{ c.description }}</div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="/admin/add-category" mat-raised-button color="accent">
      Add New Category
    </button>
  </mat-card-actions>
</mat-card>
